  <div class="descripcion">
           
                <aside>
                    <img src="Imágenes/Cerveza-artesanal-1.jpg" width="400px">
                </aside>
                <article>
                <h2 class="title">¿Conoces el proceso de creación de una Cerveza?</h2>
                <h1>Acerca de Nosotros</h1>
                <p id="textoInicial">Somos una empresa visionaria, nueva en lo que es producción y proceso de tratado
                    de la Cebada, para luego transformarla en una deliciosa Cervaza Artesanal, digna de probarla
                    y degustarla.
                </p>
            </article>

            <button class="btnInfo">Mas información</button>
        </div>