 <header class="Encabezado">
        <div class="Intro">
            <h3>Tradición que rebasa fronteras</h3>
            <h1>Una Cerveza <br> especial para ti</h1>
            <button id="principal">Exploremos Juntos</button><br>
        </div>
    </header>