 <div class="Contacto">
                <div class="Informacion">
                    <h2><span class="icon-direction"></span>Dirección</h2>
                    <p>Machachi, Av. Amazonas s2-06 y Cristóbal Colón</p>
                    <h2><span class="icon-mail"></span>Email</h2>
                    <p><a class="mail" href = "mailto:atencioncliente@cvartesanal.com">atencioncliente@cvartesanal.com</a></p>
                    <h2><span class="icon-mobile"></span>Teléfono</h2>
                    <p><a class="mail" href="tel:+593 02-315678">tel:+593 02-315678</a></p>
                </div>
            </div>
            <div class="PiePagina">
                <div class="final">
                <p> &copy; Derechos reservados: Cerveza Artesanal</p> 
                </div>
            </div>
   </div>
</body>
</html>