<div class="Productos">
                <div class="desarrollo">
                    <h2>Anímate..!</h2>
                    <h1 class="hp">Conoce Nuestros Productos</h1>
                    <p>Estilos de Cerveza únicos que deleitan el paladar y provocan una frescura única que impregnan el Sabor de la Cebada en su punto más exacto. <br><br>¡Tienes Sed!, Pégate una de estas</p>
                    <button>
                        Más Productos
                    </button>
                </div>
                {{getProducCerveza}}
                {{!-- <div class="desarrollo">
                    <img src="Imágenes/Ale.jpg" width="400px">
                    <br>
                    <h1 class="TitulosPro">Cerveza Ale</h1>
                    <p>Precio: $3.50</p>
                </div>
                <div class="desarrollo">
                    <img src="Imágenes/kolsh.jpg" width="400px">
                    <br>
                    <h1 class="TitulosPro">Cerveza Kolsch</h1>
                    <p>Precio: $4.50</p>
                </div>
                <div class="desarrollo">
                    <img src="Imágenes/Porter.jpg" width="400px">
                    <br>
                    <h1 class="TitulosPro">Cerveza Porter</h1>
                    <p>Precio: $4.70</p>
                </div> --}}

            </div>