{{> head}}
<body>
    {{>Encabezado}}
    <div class="contenido">
        <div class="degradado"></div>
        {{>Descripcion}}      
        {{>Productos}}
            <div class="degradado"></div>
        {{>PiePagina}}
       